<div id="graphs-container" class="margin-top-05">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Games per year
      </div>
      <div class="panel-body">
        <div id="games-per-year-graph" class="graph-div"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Avg. rating per year
      </div>
      <div class="panel-body">
        <div id="avgRating-per-year-graph" class="graph-div"></div>
      </div>
    </div>
  </div>
</div>
