<div id="graphs-container" class="padding-top-05">
  <!-- Games per year -->
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart fa-fw"></i> Games per year
      </div>
      <div class="panel-body">
        <canvas id="games-per-year-graph" class="graph-canvas"></canvas>
        <div id="games-per-year-graph-legend" class="graph-legend"></div>
      </div>
    </div>
  </div>

  <!-- Avg. Rating per year -->
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-line-chart fa-fw"></i> Avg. rating per year
      </div>
      <div class="panel-body">
        <canvas id="avgRating-per-year-graph" class="graph-canvas"></canvas>
        <div id="avgRating-per-year-graph-legend" class="graph-legend"></div>
      </div>
    </div>
  </div>

  <!-- Games per numer of players -->
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart fa-fw"></i> Games per numer of players
      </div>
      <div class="panel-body">
        <canvas id="games-per-players-graph" class="graph-canvas"></canvas>
        <div id="games-per-players-legend" class="graph-legend"></div>
      </div>
    </div>
  </div>

  <!-- Games per category -->
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-pie-chart fa-fw"></i> Games per category
      </div>
      <div class="panel-body">
        <canvas id="games-per-category-graph" class="graph-canvas"></canvas>
        <div id="games-per-category-legend" class="graph-legend"></div>
      </div>
    </div>
  </div>
</div>
