@import "variables.less";

#h-index-list {
  .bloc {
    article {
      height: 180px;
    }
    a {
      line-height: 270px;
      font-size: 38px;
    }
    .hindexDiff {
      color: #EE7777;
      font-weight: bold;
    }
  }
  .hindex {
    article {
      background-color: darken(@panel-info-heading-bg, 5%);
    }
  }
  .noplay {
    article {
      background-color: darken(@panel-danger-heading-bg, 5%);
    }
  }
}
